html {
  font-size: 14px;
}
body {
  font-family: Ubuntu, "Noto Sans SC", "Bitstream Vera Sans", "DejaVu Sans",
    Tahoma, sans-serif;
  padding: 1.5rem;
}

a {
  color: #4458a3;
}

#site-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #999;
  display: flex;
}

#site-nav {
  display: flex;
  flex-direction: column-reverse;
}

#site-nav ul,
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul li:not(:last-child)::after {
  content: "•";
  color: #999;
  margin: 0 0.2rem;
}

#site-nav ul li,
footer ul li {
  display: inline-block;
  padding: 0;
}

#site-nav ul li a {
  padding: 0.2rem;
  text-decoration: none;
}
#site-nav ul li a:hover {
  background-color: #f0f0f0;
}
.header-logo {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-logo img {
  width: 56px;
}

.header-logo--right {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.2rem;
}

.header-logo--site-title {
  font-size: 2rem;
  line-height: 1.5rem;
  /* clear link style */
  text-decoration: none;
  color: inherit;
}
.homepage {
  display: flex;
}
.page {
  /* centered */
  max-width: 960px;
  margin: 0 auto;
}

.article--summary h1 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

article #meta {
  font-size: 0.8rem;
  color: #999;
}
article #meta time {
  color: #777;
}
.tiny-note {
  color: #999;
}
article h1 {
  margin: 0.5rem 0;
  font-size: 1.8rem;
}
article h1 a {
  color: #1a1a1a;
  font-weight: 400;
  /* clear link style */
  text-decoration: none;
  color: inherit;
}

/* margin */

.m-0 {
  margin: 0;
}

.mb-4 {
  margin-bottom: 1rem;
}

/* flex */
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

/* grid */

.row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.archive-list--item-date {
  display: inline-block;
  width: 3em;
}

pre {
  font-family: "Source Code Pro", consolas, monospace;
  font-size: 0.9rem;
  background-color: #f0f0f0;
  padding: 1em;
  /* scroll if too long */
  overflow-x: auto;
}

code {
  font-family: "Source Code Pro", consolas, monospace;
}

blockquote {
  font-style: italic;
  margin: 1rem 0;
  padding: 0.1rem 1rem 0.1rem 1rem;
  border-left: 2px solid #445588;
}

ul {
  padding-left: 1.5rem;
  margin: 0;
}

ol {
  padding-left: 1.5rem;
  margin: 0;
}

p {
  margin: 1em 0;
}

.highlight {
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

.atk-send-btn {
  background: #445588 !important;
}

pre {
  white-space: pre;
  overflow-x: auto;
}

table {
  width: 100%;
  overflow: scroll;
}

p img {
  max-width: -webkit-fill-available;
}

@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    max-width: 100%;
  }
}

#post-content {
  margin: 0 0 1em 0;
}

article #tags {
  margin: 0 0 1em 0;
  padding: 0;
}
article #tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
article #tags .tag-label {
  color: #666;
}

article #tags .tag-list li {
  background-color: #f0f0f0;
  display: inline-block;
  margin: 0;
  padding: 0;
}

article #tags .tag-list li a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
  color: #445588;
}

#ArtalkPV {
  color: #4458a3;
}

/* table */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

thead {
  background-color: #445588;
  color: white;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

#toc {
  background: #f6faff;
  padding: 0.5em 1em 1em 1em;
}
