:root {
  --primary-color: #4458a3;
  --light-color: #f0f0f0;
  --light-background: #f6faff;
  --light-background-darker: #dceafb;
  --border-color: #999;
  --base-font-size: 14px;
  --header-font-size: 1.8rem;
  --small-font-size: 0.8rem;
  --base-padding: 1em;
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: Ubuntu, "Noto Sans SC", "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
  padding: 1.5rem;
}

a {
  /* color: #4458a3; */
  color: var(--primary-color);
}

#site-header {
  padding-top: var(--base-padding);
  padding-bottom: var(--base-padding);
  /* border-bottom: 1px dotted #999; */
  border-bottom: 1px dotted var(--border-color);
  display: flex;
}

#site-nav {
  display: flex;
  flex-direction: column-reverse;
}

#site-nav ul,
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul li:not(:last-child)::after {
  content: "\2022";
  /* color: #999; */
  color: var(--border-color);
  margin: 0 0.2rem;
}

#site-nav ul li,
footer ul li {
  display: inline-block;
  padding: 0;
}

#site-nav ul li a {
  padding: 0.2rem;
  text-decoration: none;
}

#site-nav ul li a:hover {
  /* background-color: #f0f0f0; */
  background-color: var(--light-color);
}

.header-logo {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-logo img {
  width: 56px;
}

.header-logo--right {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.2rem;
}

.header-logo--site-title {
  font-size: 2rem;
  line-height: 1.5rem;
  /* clear link style */
  text-decoration: none;
  color: inherit;
}

.homepage {
  display: flex;
}

.page {
  /* centered */
  max-width: 960px;
  margin: 0 auto;
}

.article--summary h1 {
  font-size: var(--base-padding);
  line-height: 1.5rem;
  margin: 0;
}

article #meta {
  font-size: 0.8rem;
  /* color: #999; */
  color: var(--border-color);
}

article #meta time {
  color: #777;
}

.tiny-note {
  color: var(--border-color);
}

article h1 {
  margin: 0.5rem 0;
  font-size: 1.8rem;
}

article h1 a {
  color: #1a1a1a;
  font-weight: 400;
  /* clear link style */
  text-decoration: none;
  color: inherit;
}

article ul {
  list-style-type: circle; 
}

article ul li::marker{
  color: rgb(162, 170, 179); 
}

article ol {
  list-style-type: decimal; 
}

article ol li::marker{
  color: rgb(162, 170, 179); 
}

/* margin */

.m-0 {
  margin: 0;
}

.mb-4 {
  margin-bottom: var(--base-padding);
}

/* flex */
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

/* grid */

.row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.archive-list--item-date {
  display: inline-block;
  width: 3em;
}

pre {
  font-family: "Source Code Pro", consolas, monospace;
  font-size: 0.9rem;
  background-color: var(--light-color);
  padding: 1em;
  /* scroll if too long */
  overflow-x: auto;
}

.mathjax-preview {
  font-size: 1rem;
  background-color: inherit !important;
  padding: 0;
  margin: 0;
  overflow: none;
}

@media (max-width: 767px) {
  .prev-next-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .prev-next-nav .post-link {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .prev-next-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .prev-next-nav .post-link {
    margin-bottom: 0;
  }
}


code {
  font-family: "Source Code Pro", consolas, monospace;
}

blockquote {
  font-style: italic;
  margin: var(--base-padding) 0;
  padding: 0.1rem var(--base-padding) 0.1rem var(--base-padding);
  border-left: 2px solid #445588;
}

ul {
  padding-left: 1.5rem;
  margin: 0;
}

ol {
  padding-left: 1.5rem;
  margin: 0;
}

p {
  margin: 1em 0;
}

.highlight {
}

footer {
  padding-top: var(--base-padding);
  padding-bottom: var(--base-padding);
  margin: 0;
}

.atk-send-btn {
  background: #445588 !important;
}

pre {
  white-space: pre;
  overflow-x: auto;
}

p img {
  max-width: -webkit-fill-available;
}

@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    max-width: 100%;
  }
}

#post-content {
  margin: 0 0 1em 0;
}

#post-content h2 {
  font-size: 24px;
}

#post-content h3 {
  font-size: 20px;
  color: rgb(46, 128, 242);
}

#post-content h4 {
  font-size: 18px;
  color: rgb(229, 181, 103);
}

#post-content strong {
  color: rgb(255, 130, 178);
}

article #tags {
  margin: 0 0 1em 0;
  padding: 0;
}

article #tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

article #tags .tag-label {
  color: #666;
}

article #tags .tag-list li {
  background-color: var(--light-color);
  display: inline-block;
  margin: 0;
  padding: 0;
}

article #tags .tag-list li a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
  color: #445588;
}

#ArtalkPV {
  color: var(--primary-color);
}

/* table */

/* Better tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9em;
  /* width: 100%;
  max-width: 100%; */
  margin: 0 auto;
  border: 1px solid black;
  /* display: block; */
  overflow-x: auto;
  /* does not work because element is not block */
  /* white-space: nowrap; */
  counter-increment: caption;
}

/* add bottom border on column table headings  */
table tr>th[scope="col"] {
  border-bottom: 1px solid black;
}

/* add right border on row table headings  */
table tr>th[scope="row"] {
  border-right: 1px solid black;
}

table > tbody > tr:first-child > td,
table > tbody > tr:first-child > th {
  border-top: 1px solid black;
}

table > tbody > tr:last-child > td,
table > tbody > tr:last-child > th {
  border-bottom: 1px solid black;
}

th,
td {
  text-align: left;
  padding: 0.3rem;
  line-height: 1.1;
  vertical-align: top;
}

/* Table caption */
caption {
  text-align: left;
  font-size: 0.923em;
  /* border-bottom: 2pt solid #000; */
  padding: 0 0.25em 0.25em;
  width: 100%;
  margin-left: 0;
}

caption::before {
  content: "Table " counter(caption) ". ";
  font-weight: bold;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

#toc {
  background: #f6faff;
  padding: 0.5em 1em 1em 1em;
  margin-top: 1em;
}

#post-content p code {
  /* background: #ffebeb; */
  font-family: "Cascadia Code", "Source Code Pro", consolas, monospace;
  padding: 0 0.3em;
}

.expand {
  border: 1px solid #ccc;
  padding: var(--base-padding);
}

.expand-label {
  user-select: none;
  font-weight: bold;
}

.expand-content {
  margin-top: 0.5rem;
}

.post-link {
  display: block;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  padding: var(--base-padding);
}

.post-link.prev {
  padding-left: 2em;
}

.post-link.next {
  padding-right: 2em;
}

.post-link.prev::before {
  content: "\2190"; /* Unicode for left arrow */
  position: absolute;
  left: .5em;
}

.post-link.next::after {
  content: "\2192"; /* Unicode for right arrow */
  position: absolute;
  right: .5em;
}

.post-link:hover {
  background-color: var(--light-background);
}
