{{ define "main" }}
<main>
	<article>
		<header>
			<h1>{{ .Title }}</h1>
		</header>
		<aside id="meta">
			Published at <time datetime="{{ .Date.Format " 2006-01-02T15:04:05" }}">{{ .Date.Format "2006/1/2 15:04" }}</time>
			, <span id="ArtalkPV">...</span> Views
		</aside>
		{{ if .Params.toc }}
		<aside>
			<h2>目录</h2>
			{{ .TableOfContents }}
		</aside>
		{{ end }}
		<div id="post-content">
			{{ .Content }}
		</div>
		{{ with .Params.tags }}
		<aside id="tags" class="flex items-center">
			<div class="tag-label">Tags &nbsp;</div>
			<ul class="tag-list">
				{{ range . }}
				<li><a href="{{ " /tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
				{{ end }}
			</ul>
		</aside>
		{{ end }}
		{{ with .Site.DisqusShortname }}
		<aside>
			{{ template "_internal/disqus.html" . }}
		</aside>
		{{ end }}
		{{ if isset .Site.Params "artalk" }}
		<aside>
			{{ template "_internal/artalk.html" . }}
		</aside>
		{{ end }}
	</article>
</main>
{{ partial "sidebar.html" . }}
{{ end }}