<div class="row">
	<div class="col-6">
		<div>
			<h3>{{ T "common.recent_posts"}}</h3>
		</div>
		<div>
			<p>{{ T "common.view_all_articles" }}</p>
			<ul>
				{{ range first 5 (where .Site.RegularPages.ByDate.Reverse "Type" "in" .Site.Params.mainSections) }}
				<li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
					<span class="tiny-note">({{ .Date.Format "2006/1/2" }})</span>
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
	<div class="col-6">
		<div>
			<h3>{{ T "common.random_posts" }}</h3>
		</div>
		<div>
			<p>{{ T "browse_content"}}</p>
			<ul id="rand-pages">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ range first 5 (shuffle $pages) }}
				<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
				{{ end }}
			</ul>
		</div>
	</div>
</div>
